@charset "UTF-8";

html, body {
padding: 0px;
margin: 0px;
}
div.infiniteCarousel {
clear:right;
}
body {
width: 1000px;
margin-left: auto;
margin-right: auto
}

img {
	border: 0;
	padding: 0;
	margin: 0;
	margin-right: 0;
	margin-left: 0;
}

.creditText{
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
COLOR:#808080;
}

.creditLink:link {
font-family:Arial, Helvetica, sans-serif;

 COLOR: #808080 /*The color of the link*/
}
.creditLink:visited {
font-family:Arial, Helvetica, sans-serif;

 COLOR: #808080 /*The color of the visited link*/
}
.creditLink:hover {
font-family:Arial, Helvetica, sans-serif;

 COLOR: blue /*The color of the mouseover or 'hover' link*/
}



.pureText{
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}
#header_logo {

padding-top: 5px;
padding-bottom: 30px;
}
#div_social {
padding-bottom: 65px;
}
#menu_social
{
float:right;
	width: 100px;
	
	}
#contact_info_image{
padding-top:150px;
}

.test {
background-color: #0C9;
}

.tab_about_table {
border-collapse: separate; border-spacing: 0px; 
width: 950px;
}
.tab_about_tr_td {
text-align:justify;
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}

.tab_about_tr_td_sandra {
text-align:justify;
padding-top:0px;
padding-left:20px;
padding-right:0px;
padding-bottom:0px;
}

#tab_menu {
border-collapse: separate; border-spacing: 0px; 
width:100%;	
}
.tab_menu_td_tr{
padding:0px;
}
div.infiniteCarousel {
clear:right;
}


.borderit img{
	width: 256px;
	height: 256px;
border: 3px solid #ffffff;
}

.borderit:hover img{
	
	width: 256px;
	height: 256px;
border: 3px solid #f89843;
}

.borderit:hover{
color: red; /* irrelevant definition to overcome IE bug */
}




.borderit_big img{
	width: 772px;
	height: 220px;
border: 3px solid #ffffff;
}

.borderit_big:hover img{
	
	width: 772px;
	height: 220px;
border: 3px solid #f89843;
}

.borderit_big:hover{
color: red; /* irrelevant definition to overcome IE bug */
}
